<% if @bookmark.destroyed? %>
  $('#bookmark-' +<%= @bookmark.id %>).hide();
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>