<h1>All Bookmarks</h1>
<% if can? :create, Bookmark %>
  <%= link_to "New Bookmark", new_bookmark_path, class: 'btn btn-primary btn-mini' %>
<% end %>
<% @bookmarks.each do |bookmark| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to bookmark.title, bookmark %>
      </h4>
      <small>
        tagged <%= time_ago_in_words(bookmark.created_at) %> ago by <%= bookmark.user.name %><br/>
      </small>
    </div>
  </div>
<% end %>
