<h1>New Bookmark</h1>

<div class="row">
  <div class="span4">
    <p>Guidelines for new bookmarks:</p>
    <ul>
      <li>Make sure content is appropriate and you include a hashtag.
    </ul>
  </div>
    <%= render partial: 'form', locals: { bookmark: @bookmark } %>
  </div>
</div>
