<% if can? :create, Like %>
  <div class="like">
    <% if like = current_user.liked(bookmark) %>
      <%= link_to [bookmark, like], class: 'btn btn-small', method: :delete do %>
        <i class="icon-star-empty"> </i>&nbsp; Unlike
      <% end %>
    <% else %>
      <%= form_for [bookmark, Like.new] do |f| %>
        <%= button_tag type: 'submit', class: 'btn btn-small' do %>
          <i class="icon-star"> </i>&nbsp; Like
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
