<div class="hero-unit">
  <h1>Brittmark</h1>
  <p>Bloccit is an awesome app to save and categorize bookmarks!</p>
</div>

<div class="row">
  <div class="span4">
    <h2>Easy</h2>
    <p>An application that allows users to bookmark URLs via email</p>
  </div>
  <div class="span4">
    <h2>Social</h2>
    <p>Peruse other user's bookmarks and maintain a personal index of categorized bookmarks.</p>
  </div>
  <div class="span4">
    <h2>Stop the Clutter</h2>
    <p>Organize bookmarks by topic and make them public so that other users can find them </p>
  </div>
</div>