<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>How to Add More Bookmarks via Email</h3>
      </div>
      <div class="modal-body">
        <p>Email your bookmark (subject of the email is the bookmark, tags separated by commas in the body</p>
        <%= image_tag("brittmarkhowto.png") %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>​
  </div>
</div>​ 